//====================================================================================================
.header {
	// .header__container
	&__container {
	}
	// .header__logo
	&__logo {
	}
	// .header__nav
	&__nav {
		flex: 1 1 auto;
		// 
		@media (min-width: $tablet) {
			padding-right: rem(20);
		}	
		@media (min-width: $mobileSmall	) {
			@include adaptiveValue("padding-left", 148, 10, 1260, 600, 1);
			@include adaptiveValue("padding-right", 20, 0, 800, 700, 1);
		}	

	}
	// .header__rside
	&__rside {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	// .header__lang
	&__lang {
	}
	// .header__user
	&__user {
	}
	// .header__wraper
	&__wraper {
		display: flex;
		justify-content: center;
		align-items: center;
		justify-content: space-between;
		margin: rem(19) 0;
	}
}
.logo {
	// .logo__header
	&__header {
		width: rem(82);
		height: rem(39);
	}
}
.nav-header {
	// .nav-header__items
	&__items {
		display: flex;
		row-gap: 5px;
		@include adaptiveValue("font-size", 14, 22);
		@include adaptiveValue("column-gap", 44, 10, 992, 400, 1);
		@media (max-width: $tablet) {
		}
		@media (max-width: 703px){
			row-gap: 25px;
			display: none;
			flex-direction: column;
		}
	}
	// .nav-header__item
	&__item {		
	}
	// .nav-header__link
	&__link {
		transition: color 0.3s ease 0s;
		color: $Color06;
		line-height: math.div(17, 14);
		@media (any-hover: hover){
			&:hover {
				color: $mainActiveColor;
				}
		}
		@media (max-width: $tablet) {
			// @include adaptiveValue("font-size", 14, 20, 992, 600, 1);
		}

	}
}
.lang {
	position: relative;
	display: flex;
	align-items: center;
	transition: color 0.3s ease 0s;
	color: $Color06;
	line-height: math.div(17, 14);
	margin: 0px rem(30) 0px 0px ;
	padding-left: rem(30);
	@media (any-hover: hover){
		&:hover {
			color: $mainActiveColor;
				}
	}
	// .lang__name
	&__name {
		display: flex;
		flex-direction: row-reverse;
		margin: 0px rem(4) 0px 0px;
		&::before {
			@extend %ic;
			@extend ._icon-lang;
			font-size: rem(24);
			display: inline-block;
			margin-left: em(4);
		}
	}
	// .lang__icon
	&__icon {
		position: relative;
		&::after {
			content: "";
			position: absolute;
			right: -8px;
			top: 6px;
			display: block;
			border: 3px solid transparent;
			border-top: 4px solid $Color06;
			width: 0;
			height: 0;
			@media (any-hover: hover){
				&:hover {
					border-color: $mainActiveColor;
						}
			}
		
		}
	}
	// .lang__list
	&__list {
		z-index: 2;
		white-space: nowrap;
		position: absolute;
		top: 100%;
		width: 100%;
		left: 0;
		margin: rem(5) 0 0 rem(10);
		border-radius: rem(10);
		background-color: lighten($mainBgColor, 10%);
		padding: rem(15);
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
		li {
			&:not(:last-child) {
				margin-bottom: em(8, 18);
			}
		}

	}
	// .lang__list-item
	&__list-item {
		margin: 0px 0px 0px rem(5);
		&_active {
			display: none;
		}
	}
	// .lang__list-link 
	&__list-link {
		@media (any-hover: hover){
			&:hover {
				color: $mainColor;
				text-decoration: underline;
					}
		}
	}
}
.user {
}
.button {
	// .button__login
	&__login {
		
	}
}

//====================================================================================================

//Burger
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		color: #fff;
		position: relative;
		width: 30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			left: 0px;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #000;
		}
		&::before {
			top: 0px;
		}
		&::after {
			bottom: 0px;
		}
		span {
			top: calc(50% - 1px);
		}
		.menu-open & {
			span {
				transform: scale(0);
			}
			&::before {
				transform: rotate(-45deg);
				top: calc(50% - 1px);
			}
			&::after {
				transform: rotate(45deg);
				bottom: calc(50% - 1px);
			}
		}
	}
}
